    <header class="encabezado">
            <a href="/">
                <span class="Logo">
                <b>Mi</b>E
                <span class="ocultar">commerce</span>
                </span>
            </a>
        <div class="buscador">
            <form action="#">
                <input type="text" placeholder="Buscar productos...">
                <button type="submit">
                <img src="/img/lupa del buscador.png" alt="lupa">
                </button>
            </form>
        </div>
        <div class="acciones">
            <div class="carrito">
                <a href="/cart">
                    <img src="/img/carrito.png" alt="carrito">
                </a>
            </div>
            <div class="cuenta">
                <a href="<%= perfilLink %>" class="cuenta-completo">
                    <img src="/img/imagen de perfil.png" alt="imagen de perfil">
                    <span style="color: white;" class="ocultar";>Perfil</span>
                </a>
            </div>
        </div>
    </header>