# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env

# Bases de datos
*.db
*.sqlite

# React / Vite
admin/dist/

# Logs
logs/
*.log

# Sistema
.DS_Store
Thumbs.db