PORT=3000

DB_PATH=./src/db/database.sqlite

SESSION_SECRET=your_secret_here
#para una password segura puedes generar en la terminal:
#node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"

CLIENT_URL=http://localhost:5173