.card {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;

    background: white;
    border-radius: 8px;
}


.card__info {
    display: flex;
    align-items: center;
    gap: 16px;
}


.card__icon {
    font-size: 40px;
}


.card__buttons {
    display: flex;
    gap: 12px;
}


.card__buttons button {
    cursor: pointer;
}

.card__icon img {
    width: 75px;
    height: 75px;
    object-fit: contain;
}