<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title: 'Cart' }) %>

<body>

    <%- include('../partials/header', { perfilLink: '/login' }) %>

    <main>

        <div class="producto-whiskey">
            <div class="producto-whiskey-contenido" style="justify-content: center; text-align: center;">

                <div class="producto-whiskey-contenido-descripcion">

                    <h1 style="font-size: 80px;">404</h1>

                    <h2>Página no encontrada</h2>

                    <p>La URL que ingresaste no existe o fue movida.</p>

                    <a href="/">
                        <div class="sesion">
                            Volver al inicio
                        </div>
                    </a>

                </div>

            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>

</body>