<div class="auth-container">
    <div class="auth-card">
        <span class="auth-title">¡Hola!</span>

        <form id="login-form" action="/login" method="POST">
            <ul id="auth-errors"></ul>

            <input id="username" name="username" type="text" placeholder="Tu nombre de usuario" class="auth-input">
            <input id="password" name="password" type="password" placeholder="Tu contraseña" class="auth-input">

            <button type="submit" class="auth-button">
                Iniciar Sesión
            </button>
        </form>
    </div>
</div>

<div class="auth-footer"> 
    <span>¿No tienes una cuenta?&nbsp;</span>
    <a href="/register" class="auth-link">registrate</a>
</div>

<script src="/js/validations.js" defer></script>
<script src="/js/loginValidation.js" defer></script>