<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head', { title: 'Login' }) %>

    <body>
        <header class="encabezado-login">
            <a href="/">
                <span class="Logo"><strong>Mi</strong>Ecommerce</span>
            </a>
        </header>


        <main>

            <div class="main-login">
                <div class="formulario">
                    <span class="Hola">¡Hola!</span>
                    <form action="/">
                        <ul id="errors"></ul>

                        <input id="username" type="text" placeholder="Tu nombre de usuario" class="input">
                        <input id="password" type="password" placeholder="Tu contraseña" class="input">

                        <button type="submit" class="sesion">
                            Crear Cuenta
                        </button>
                        
                    </form>
                </div>
            </div>
            <div class="register"> 
                <span>¿No tienes una cuenta?&nbsp;</span>
                <a href="/register" class="register-link">registrate</a>
            </div>
        


        </main>

        <%- include('../partials/footer') %>

        <script src="/js/validations.js"></script>
        <script src="/js/loginValidation.js"></script>
    </body>
</html>