<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title: 'Menu' }) %>


<body  class="bg">
    <header class="margen-main">
        <div class="menu">
            <div class="perfil">
                <img src="/img/ui/imagen de perfil.png" class="perfil-img" alt="imagen-de-perfil">
                <p>Perfil</p>
            </div>   
                <hr class="menu-linea">
                <a href="/">Inicio</a>
                <a href="/cart">Mis Compras</a>
                <a href="/product2">Favoritos</a>
                <a href="/">Historial</a>
                <hr class="menu-linea">
                <a href="#">Cambiar a Tema Oscuro</a>
                <a href="/login">Cambiar de usuario</a>
            </div>
</header>
    <main style="background-color: rgb(136, 91, 182);"></main>
</body>
</html>        