<h1>Productos relacionados</h1>

<% if (relatedProducts.length > 0) { %>

    <div class="cuerpo">
        <% relatedProducts.forEach(p => { %>
            <%- include('../partials/productCard', { product: p }) %>
        <% }) %>
    </div>

<% } else { %>

    <p>No hay productos relacionados disponibles.</p>

<% } %>