<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title: 'Register' }) %>

    <body>
        <header class="encabezado-login">
            <a href="/">
                <span class="Logo"><strong>Mi</strong>Ecommerce</span>
            </a>
        </header>


        <main>

            <div class="auth-container">
                <div class="auth-card">
                    <span class="auth-title">¡Hola!</span>

                    <form action="/login">
                        <ul id="auth-errors"></ul>

                        <input id="email" type="text" placeholder="Tu email" class="auth-input">
                        <input id="password" type="password" placeholder="Tu contraseña" class="auth-input">
                        <input id="repeatPassword" type="password" placeholder="Repite tu contraseña" class="auth-input">

                        <button type="submit" class="auth-button">
                            Crear Cuenta
                        </button>
                    </form>
                </div>
            </div>

            <div class="auth-footer"> 
                <span>¿Ya tienes una cuenta?&nbsp;</span>
                <a href="/login" class="auth-link">inicia sesión</a>
            </div>

        </main>


    <%- include('../partials/footer') %>

    <script src="/js/validations.js"></script>
    <script src="/js/registerValidation.js"></script>
    </body>

</html>