.sidebar {
    width: 296px;
    height: 100vh;

    background: white;

    transition: transform 0.3s ease;
}


/* Mobile */
@media (max-width: 1024px) {

    .sidebar {
        position: fixed;

        top: 0;
        left: 0;

        transform: translateX(-100%);

        z-index: 1000;
    }


    .sidebar.open {
        transform: translateX(0);
    }
}