<div class="<%= categoryWrapperClass %>">
    <ul class="category-list">

        <li class="category-item-single">
            <a href="/products?category=electronica">
                <img src="/img/ui/boton 1 (electronica).png" alt="electronica" class="category-image">
                <p class="category-text"> Electrónica </p>
            </a>
        </li>

        <li class="category-item">
            <a href="/products?category=alimentos">
                <img src="/img/ui/boton 2 (alimentos).png" alt="alimentos" class="category-image">
                <p class="category-text"> Alimentos </p>
            </a>
        </li>

        <li class="category-item">
            <a href="/products?category=bebidas">
                <img src="/img/ui/boton 3 (bebidas).png" alt="bebidas" class="category-image">
                <p class="category-text"> Bebidas </p>
            </a>
        </li>

        <li class="category-item">
            <a href="/products?category=indumentaria">
                <img src="/img/ui/boton 4 (indumentaria).png" alt="indumentaria" class="category-image">
                <p class="category-text"> Indumentaria </p>
            </a>
        </li>

        <li class="category-item">
            <a href="/products?category=juegos">
                <img src="/img/ui/boton 5 (juegos).png" alt="juegos" class="category-image">
                <p class="category-text"> Juegos </p>
            </a>
        </li>

        <li class="category-item">
            <a href="/products?category=automotor">
                <img src="/img/ui/boton 6 (automotor).png" alt="automotor" class="category-image">
                <p class="category-text"> Automotor </p>
            </a>
        </li>

        <li class="category-item">
            <a href="/products?category=hogar">
                <img src="/img/ui/boton 7 (hogar).png" alt="hogar" class="category-image">
                <p class="category-text"> Hogar </p>
            </a>
        </li>

        <li class="category-item">
            <a href="/products?category=otros">
                <img src="/img/ui/boton 8 (otros).png" alt="otros" class="category-image">
                <p class="category-text"> Otros </p>
            </a>
        </li>

    </ul>
</div>