<header class="header">
    
    <a href="/">
        <span class="logo">
            <b>Mi</b>E
            <span class="ocultar">commerce</span>
        </span>
    </a>

    <div class="search-bar">
        <form action="#">
            <input type="text" placeholder="Buscar productos...">
            <button type="submit">
                <img src="/img/ui/lupa del buscador.png" alt="lupa">
            </button>
        </form>
    </div>

    <div class="header-actions">

        <div class="cart">
            <a href="/cart" class="cart-link">
                <img src="/img/ui/carrito.png" alt="carrito">

                <span class="cart-badge">
                    <%= cartCount %>
                </span>
            </a>
        </div>

        <div class="account">
            <a href="<%= perfilLink %>" class="account-full">
                <img src="/img/ui/imagen de perfil.png" alt="imagen de perfil">
                <span style="color: white;" class="ocultar">Perfil</span>
            </a>
        </div>

    </div>
</header>