<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiEcommerce</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>

    <header class="encabezado">
            <a href="index.html">
                <span class="Logo">
                <b>Mi</b>E
                <span class="ocultar">commerce</span>
                </span>
            </a>
        <div class="buscador">
            <form action="#">
                <input type="text" placeholder="Buscar productos...">
                <button type="submit">
                <img src="/img/lupa del buscador.png" alt="lupa">
                </button>
            </form>
        </div>
        <div class="acciones">
            <div class="carrito">
                <a href="/cart.html">
                    <img src="/img/carrito.png" alt="carrito">
                </a>
            </div>
            <div class="cuenta">
                <a href="/login.html" class="cuenta-completo">
                    <img src="/img/imagen de perfil.png" alt="imagen de perfil">
                    <span style="color: white"; class="ocultar";>Perfil</span>
                </a>
            </div>
        </div>
    </header>

    <main>
        <a href="index.html" class="volver-listado">
            <div class="subtitulo-2">
                <img src="/img/flecha-izquierda.png" alt="<-">
                <span>Volver</span>
            </div>
        </a>
        
        <div class="subtitulo-3">
            <h2>Productos en tu Carrito</h2>
        </div>

        <div class="carrito-caja">
            <div class="caja-1">
                <img src="/img/jack.png" alt="whiskey jack" class="imagen-carrito">
                <p class="tamaño-p">Jack Daniel's Tennessee Honey Botella 750ml</p>
            </div>
            <div class="caja-2">
                <div class="sesion sesion-margen">
                    <a href="#">Quitar</a>
                </div>
                <div class="cantidad">
                    <a href="#">-</a>
                    <span>1</span>
                    <a href="#">+</a>
                </div>
                <span class="puntos">24.343</span>
            </div>
        </div>

        <div class="carrito-caja">
            <div class="caja-1">
                <img src="/img/combo.jpg" alt="combo hamburguesa+coca" class="imagen-carrito">
                <p class="tamaño-p">1 Combo Hamburguesa Mega Cuarto Deluxe + Coca Cola</p>
            </div>
            <div class="caja-2">
                <div class="sesion sesion-margen">
                    <a href="#">Quitar</a>
                </div>
                <div class="cantidad">
                    <a href="#">-</a>
                    <span>1</span>
                    <a href="#">+</a>
                </div>
                <span class="puntos">10.000</span>
            </div>
        </div>

        <div class="carrito-caja">
            <div class="caja-1">
                <img src="/img/coca.png" alt="coca cola" class="imagen-carrito">
                <p class="tamaño-p">Coca Cola Lata 220ml Pack Original x8</p>
            </div>
            <div class="caja-2">
                <div class="sesion sesion-margen">
                    <a href="#">Quitar</a>
                </div>
                <div class="cantidad">
                    <a href="#">-</a>
                    <span>1</span>
                    <a href="#">+</a>
                </div>
                <span class="puntos">1.520&nbsp;&nbsp;</span>
            </div>
        </div>

    <div class="Total">
        <p class="puntos">Total de puntos: <span style="font-size: 1.8rem;">42.100</span></p>
    </div>
    <div class="sesion sesion-3">
    <a href="#">Ir a Pagar</a>
    </div>

    </main>

    <footer>
        <div class="pie-de-pagina">
            <div class="grupo-1">
                <a href="https://twitter.com" target="_blank" rel="noopener">
                    <img src="/img/Logo twitter.png" alt="twitter" class="imagen-pie">
                </a>
                <a href="https://facebook.com" target="_blank" rel="noopener">
                    <img src="/img/Logo facebook.png" alt="facebook" class="imagen-pie">
                </a>
                <a href="https://youtube.com" target="_blank" rel="noopener">
                    <img src="/img/Logo youtube.png" alt="youtube" class="imagen-pie">
                </a>
                <a href="https://instagram.com" target="_blank" rel="noopener">
                    <img src="/img/Logo instagram.png" alt="instagram" class="imagen-pie">
                </a>
            </div>

            <div class="grupo-2">
                <p>@ MiEcommerce. Todos los derechos reservados.</p>
            </div>

            <div class="grupo-3">
                <a href="https://www.apple.com/app-store/" target="_blank" rel="noopener" class="boton-app">
                    <img src="/img/Logo app store.png" alt="App Store" class="imagen-pie">
                    <span class="descripcion-pie">App Store</span>
                </a>
                <a href="https://play.google.com/store" target="_blank" rel="noopener" class="boton-app">
                    <img src="/img/logo google play.png" alt="Google Play" class="imagen-pie">
                    <span class="descripcion-pie">Google Play</span>
                </a>
            </div>
        </div>
    </footer>
</body>
</html>