<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiEcommerce</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>

    <header class="encabezado">
            <a href="/">
                <span class="Logo">
                <b>Mi</b>E
                <span class="ocultar">commerce</span>
                </span>
            </a>
        <div class="buscador">
            <form action="#">
                <input type="text" placeholder="Buscar productos...">
                <button type="submit">
                <img src="/img/lupa del buscador.png" alt="lupa">
                </button>
            </form>
        </div>
        <div class="acciones">
            <div class="carrito">
                <a href="/cart">
                    <img src="/img/carrito.png" alt="carrito">
                </a>
            </div>
            <div class="cuenta">
                <a href="/menu" class="cuenta-completo">
                    <img src="/img/imagen de perfil.png" alt="imagen de perfil">
                    <span style="color: white"; class="ocultar";>Perfil</span>
                </a>
            </div>
        </div>
    </header>

    <main>
        <div class="recuadro">
            <ul class="desordenada">
                
                    <li class="solitaria-imagen">
                        <a href="#">
                            <img src="/img/boton 1 (electronica).png" alt="electronica" class="imagen">
                            <p class="texto"> Electrónica </p>
                        </a>
                    </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 2 (alimentos).png" alt="alimentos" class="imagen">
                        <p class="texto"> Alimentos </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 3 (bebidas).png" alt="bebidas" class="imagen">
                        <p class="texto"> Bebidas </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 4 (indumentaria).png" alt="indumentaria" class="imagen">
                        <p class="texto"> Indumentaria </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 5 (juegos).png" alt="indumentaria" class="imagen">
                        <p class="texto"> Juegos </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 6 (automotor).png" alt="automotor" class="imagen">
                        <p class="texto"> Automotor </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 7 (hogar).png" alt="hogar" class="imagen">
                        <p class="texto"> Hogar </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 8 (otros).png" alt="otros" class="imagen">
                        <p class="texto"> Otros </p>
                    </a>
                </li>
            </ul>
        </div>

        <div class="recuadro-principal">
            <ul class="desordenada-principal">
                <li class="lista-imagen-principal">
                    <div class="contenedor-imagen">
                            <img src="/img/Imagen grande de la Izquierda.png" alt="imagen-grande1" class="imagen-principal-izquierda">
                        <div class="info-superpuesta">
                            <img src="/img/icono1.jpg" alt="icono" class="icono">
                            <ul>
                                <li class="descripcion">50% OFF en Combo Plus</li>
                                <li class="descripcion-2">Canjeando 50.000 puntos MiEcommerce</li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="lista-imagen-principal"> 
                    <div class="contenedor-imagen">
                            <img src="/img/Imagen grande de la derecha.png" alt="imagen-grande2" class="imagen-principal-derecha">
                        <div class="info-superpuesta">
                            <img src="/img/icono2.jpg" alt="icono" class="icono">
                            <ul>
                                <li class="descripcion">50% OFF en Combo Plus</li>
                                <li class="descripcion-2">Canjeando 50.000 puntos MiEcommerce</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <h2 class="subtitulo">Te puede interesar</h2>
        <div class="cuerpo">
        <div class="contenedor-cuerpo">
            <a href="/product">
            <img src="/img/jack.png" alt="whisky jack daniels honey" class="imagen-cuerpo">
            <div class="info-wrapper">
                <div class="info-imagen">
                <span class="texto-izq">Jack Daniels Honey <br> 750ml</span>
                <div class="linea-vertical"></div>
                <span class="texto-der">19.900 <span style="color: gray;">PUNTOS</span></span>
                </div>
            </div>
            </a>
        </div>

        <div class="contenedor-cuerpo">
            <a href="/product">
            <img src="/img/placeholder.jpg" alt="#" class="imagen-cuerpo">
            <div class="info-wrapper">
                <div class="info-imagen">
                <span class="texto-izq">Nombre del producto o servicio</span>
                <div class="linea-vertical"></div>
                <span class="texto-der">XX.XXX <span style="color: gray;">PUNTOS</span></span>
                </div>
            </div>
            </a>
        </div>

        <div class="contenedor-cuerpo">
            <a href="/product">
            <img src="/img/placeholder.jpg" alt="#" class="imagen-cuerpo">
            <div class="info-wrapper">
                <div class="info-imagen">
                <span class="texto-izq">Nombre del producto o servicio</span>
                <div class="linea-vertical"></div>
                <span class="texto-der">XX.XXX <span style="color: gray;">PUNTOS</span></span>
                </div>
            </div>
            </a>
        </div>

        <div class="contenedor-cuerpo">
            <a href="/product">
            <img src="/img/placeholder.jpg" alt="#" class="imagen-cuerpo">
            <div class="info-wrapper">
                <div class="info-imagen">
                <span class="texto-izq">Nombre del producto o servicio</span>
                <div class="linea-vertical"></div>
                <span class="texto-der">XX.XXX <span style="color: gray;">PUNTOS</span></span>
                </div>
            </div>
            </a>
        </div>
        </div>

        <h2 class="subtitulo">Lo más pedido</h2>
        <div class="cuerpo-2">
        <div class="contenedor-cuerpo">
            <a href="/product2">
            <img src="/img/coca.png" alt="Coca Cola" class="imagen-cuerpo">
            <div class="info-wrapper">
                <div class="info-imagen">
                <span class="texto-izq">Coca Cola Lata 220ml Pack Original x8 </span>
                <div class="linea-vertical"></div>
                <span class="texto-der">760 <br><span style="color: gray;">PUNTOS</span></span>
                </div>
            </div>
            </a>
        </div>

        <div class="contenedor-cuerpo">
            <a href="/product2">
            <img src="/img/placeholder.jpg" alt="#" class="imagen-cuerpo">
            <div class="info-wrapper">
                <div class="info-imagen">
                <span class="texto-izq">Nombre del producto o servicio</span>
                <div class="linea-vertical"></div>
                <span class="texto-der">XX.XXX <span style="color: gray;">PUNTOS</span></span>
                </div>
            </div>
            </a>
        </div>

        <div class="contenedor-cuerpo">
            <a href="/product2">
            <img src="/img/placeholder.jpg" alt="#" class="imagen-cuerpo">
            <div class="info-wrapper">
                <div class="info-imagen">
                <span class="texto-izq">Nombre del producto o servicio</span>
                <div class="linea-vertical"></div>
                <span class="texto-der">XX.XXX <span style="color: gray;">PUNTOS</span></span>
                </div>
            </div>
            </a>
        </div>

        <div class="contenedor-cuerpo">
            <a href="/product2">
            <img src="/img/placeholder.jpg" alt="#" class="imagen-cuerpo">
            <div class="info-wrapper">
                <div class="info-imagen">
                <span class="texto-izq">Nombre del producto o servicio</span>
                <div class="linea-vertical"></div>
                <span class="texto-der">XX.XXX <span style="color: gray;">PUNTOS</span></span>
                </div>
            </div>
            </a>
        </div>

        <div class="contenedor-cuerpo">
            <a href="/product2">
            <img src="/img/placeholder.jpg" alt="#" class="imagen-cuerpo">
            <div class="info-wrapper">
                <div class="info-imagen">
                <span class="texto-izq">Nombre del producto o servicio</span>
                <div class="linea-vertical"></div>
                <span class="texto-der">XX.XXX <span style="color: gray;">PUNTOS</span></span>
                </div>
            </div>
            </a>
        </div>

        <div class="contenedor-cuerpo">
            <a href="/product2">
            <img src="/img/placeholder.jpg" alt="#" class="imagen-cuerpo">
            <div class="info-wrapper">
                <div class="info-imagen">
                <span class="texto-izq">Nombre del producto o servicio</span>
                <div class="linea-vertical"></div>
                <span class="texto-der">XX.XXX <span style="color: gray;">PUNTOS</span></span>
                </div>
            </div>
            </a>
        </div>

        <div class="contenedor-cuerpo">
            <a href="/product2">
            <img src="/img/placeholder.jpg" alt="#" class="imagen-cuerpo">
            <div class="info-wrapper">
                <div class="info-imagen">
                <span class="texto-izq">Nombre del producto o servicio</span>
                <div class="linea-vertical"></div>
                <span class="texto-der">XX.XXX <span style="color: gray;">PUNTOS</span></span>
                </div>
            </div>
            </a>
        </div>

        <div class="contenedor-cuerpo">
            <a href="/product2">
            <img src="/img/placeholder.jpg" alt="#" class="imagen-cuerpo">
            <div class="info-wrapper">
                <div class="info-imagen">
                <span class="texto-izq">Nombre del producto o servicio</span>
                <div class="linea-vertical"></div>
                <span class="texto-der">XX.XXX <span style="color: gray;">PUNTOS</span></span>
                </div>
            </div>
            </a>
        </div>
        </div>

        <div class="recuadro-2">
            <ul class="desordenada">
                
                    <li class="solitaria-imagen">
                        <a href="#">
                            <img src="/img/boton 1 (electronica).png" alt="electronica" class="imagen">
                            <p class="texto"> Electrónica </p>
                        </a>
                    </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 2 (alimentos).png" alt="alimentos" class="imagen">
                        <p class="texto"> Alimentos </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 3 (bebidas).png" alt="bebidas" class="imagen">
                        <p class="texto"> Bebidas </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 4 (indumentaria).png" alt="indumentaria" class="imagen">
                        <p class="texto"> Indumentaria </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 5 (juegos).png" alt="indumentaria" class="imagen">
                        <p class="texto"> Juegos </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 6 (automotor).png" alt="automotor" class="imagen">
                        <p class="texto"> Automotor </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 7 (hogar).png" alt="hogar" class="imagen">
                        <p class="texto"> Hogar </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 8 (otros).png" alt="otros" class="imagen">
                        <p class="texto"> Otros </p>
                    </a>
                </li>
            </ul>
        </div>
    </main>

    <footer>
        <div class="pie-de-pagina">
            <div class="grupo-1">
                <a href="https:/twitter.com" target="_blank" rel="noopener">
                    <img src="/img/Logo twitter.png" alt="twitter" class="imagen-pie">
                </a>
                <a href="https:/facebook.com" target="_blank" rel="noopener">
                    <img src="/img/Logo facebook.png" alt="facebook" class="imagen-pie">
                </a>
                <a href="https:/youtube.com" target="_blank" rel="noopener">
                    <img src="/img/Logo youtube.png" alt="youtube" class="imagen-pie">
                </a>
                <a href="https:/instagram.com" target="_blank" rel="noopener">
                    <img src="/img/Logo instagram.png" alt="instagram" class="imagen-pie">
                </a>
            </div>

            <div class="grupo-2">
                <p>@ MiEcommerce. Todos los derechos reservados.</p>
            </div>

            <div class="grupo-3">
                <a href="https:/www.apple.com/app-store/" target="_blank" rel="noopener" class="boton-app">
                    <img src="/img/Logo app store.png" alt="App Store" class="imagen-pie">
                    <span class="descripcion-pie">App Store</span>
                </a>
                <a href="https:/play.google.com/store" target="_blank" rel="noopener" class="boton-app">
                    <img src="/img/logo google play.png" alt="Google Play" class="imagen-pie">
                    <span class="descripcion-pie">Google Play</span>
                </a>
            </div>
        </div>
    </footer>

</body>
</html>