<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title: 'Login' }) %>

<body>
    <header class="encabezado-login">
        <a href="/">
            <span class="Logo"><strong>Mi</strong>Ecommerce</span>
        </a>
    </header>


    <main>

        <div class="main-login">
            <div class="formulario">
                <span class="Hola">¡Hola!</span>
                <form action="#">
                    <input type="text" placeholder="Tu nombre de usuario" class="input">
                    <input type="password" placeholder="Tu contraseña" class="input">
                    <a href="/">
                        <div class="sesion">
                        Iniciar Sesión
                        </div>
                    </a>
                    
                </form>
            </div>
        </div>
        <div class="register"> 
            <span>¿No tienes una cuenta?&nbsp;</span>
            <a href="/register" class="register-link">registrate</a>
        </div>
    



    </main>



    <footer>
        <div class="pie-de-pagina">
            <div class="grupo-1">
                <a href="https://twitter.com" target="_blank" rel="noopener">
                    <img src="/img/Logo twitter.png" alt="twitter" class="imagen-pie">
                </a>
                <a href="https://facebook.com" target="_blank" rel="noopener">
                    <img src="/img/Logo facebook.png" alt="facebook" class="imagen-pie">
                </a>
                <a href="https://youtube.com" target="_blank" rel="noopener">
                    <img src="/img/Logo youtube.png" alt="youtube" class="imagen-pie">
                </a>
                <a href="https://instagram.com" target="_blank" rel="noopener">
                    <img src="/img/Logo instagram.png" alt="instagram" class="imagen-pie">
                </a>
            </div>

            <div class="grupo-2">
                <p>@ MiEcommerce. Todos los derechos reservados.</p>
            </div>

            <div class="grupo-3">
                <a href="https://www.apple.com/app-store/" target="_blank" rel="noopener" class="boton-app">
                    <img src="/img/Logo app store.png" alt="App Store" class="imagen-pie">
                    <span class="descripcion-pie">App Store</span>
                </a>
                <a href="https://play.google.com/store" target="_blank" rel="noopener" class="boton-app">
                    <img src="/img/logo google play.png" alt="Google Play" class="imagen-pie">
                    <span class="descripcion-pie">Google Play</span>
                </a>
            </div>
        </div>
    </footer>
</body>
</html>