<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiEccomerce - menú</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body  class="bg">
    <header class="margen-main">
        <div class="menu">
            <div class="perfil">
                <img src="/img/imagen de perfil.png" class="perfil-img" alt="imagen-de-perfil">
                <p>Perfil</p>
            </div>   
                <hr class="menu-linea">
                <a href="index.html">Inicio</a>
                <a href="cart.html">Mis Compras</a>
                <a href="product2.html">Favoritos</a>
                <a href="index.html">Historial</a>
                <hr class="menu-linea">
                <a href="#">Cambiar a Tema Oscuro</a>
                <a href="login.html">Cambiar de usuario</a>
            </div>
</header>
    <main style="background-color: rgb(136, 91, 182);"></main>
</body>
</html>        