<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title: 'Product' }) %>


<body>
    <header class="encabezado">
            <a href="/">
                <span class="Logo">
                <b>Mi</b>E
                <span class="ocultar">commerce</span>
                </span>
            </a>
        <div class="buscador">
            <form action="#">
                <input type="text" placeholder="Buscar productos...">
                <button type="submit">
                <img src="/img/lupa del buscador.png" alt="lupa">
                </button>
            </form>
        </div>
        <div class="acciones">
            <div class="carrito">
                <a href="/cart">
                    <img src="/img/carrito.png" alt="carrito">
                </a>
            </div>
            <div class="cuenta">
                <a href="/login" class="cuenta-completo">
                    <img src="/img/imagen de perfil.png" alt="imagen de perfil">
                    <span style="color: white;">Perfil</span>
                </a>
            </div>
        </div>
    </header>

    <main>


        <a href="/" class="volver-listado">
            <div class="subtitulo-2">
                <img src="/img/flecha-izquierda.png" alt="<-">
                <span>Volver al listado</span>
                <img src="/img/flecha-derecha.png" alt="->">
                <span>alimentos</span>
            </div>
        </a>



    <div class="producto-whiskey">
        <div class="producto-whiskey-contenido">
            <img src="/img/jack.png" alt="whiskey jack" class="producto-img">
            <div class="producto-whiskey-contenido-descripcion">
                <h2>Whiskey Jack Daniels <br> Honey 750ml <br>
                <span style="font-size: 40px;">19.900</span>
                <span style="color: gray; font-size: 15px;">PUNTOS</span></h2>
                <a href="/cart">
                    <div class="sesion">
                    Agregar al Carrito
                    </div>
                </a>
                <br>
                <p style="font-size: 15px; color: rgb(54, 54, 54);">Descubrí el irresistible sabor del Jack Daniels Honey 750ml, una fusión única entre el clásico Tennessee Whiskey y un suave toque de miel natural.<br><br>Su perfil dulce y equilibrado lo convierte en la elección perfecta para quienes buscan un trago suave pero con personalidad.<br><br> Disfrutalo solo, con hielo o en tus cócteles favoritos.<br><br> ¡Ideal para regalar o compartir en cualquier ocasión!</p>
            </div>
        </div>
    </div>





        <h2 class="subtitulo">Te puede interesar</h2>
        <div class="cuerpo">
        <div class="contenedor-cuerpo">
            <a href="/product2">
            <img src="/img/coca.png" alt="Coca Cola" class="imagen-cuerpo">
            <div class="info-wrapper">
                <div class="info-imagen">
                <span class="texto-izq">Coca Cola Lata 220ml Pack Original x8</span>
                <div class="linea-vertical"></div>
                <span class="texto-der">760 <span style="color: gray;">PUNTOS</span></span>
                </div>
            </div>
            </a>
        </div>

        <div class="contenedor-cuerpo">
            <a href="/product">
            <img src="/img/placeholder.jpg" alt="#" class="imagen-cuerpo">
            <div class="info-wrapper">
                <div class="info-imagen">
                <span class="texto-izq">Nombre del producto o servicio</span>
                <div class="linea-vertical"></div>
                <span class="texto-der">XX.XXX <span style="color: gray;">PUNTOS</span></span>
                </div>
            </div>
            </a>
        </div>

        <div class="contenedor-cuerpo">
            <a href="/product">
            <img src="/img/placeholder.jpg" alt="#" class="imagen-cuerpo">
            <div class="info-wrapper">
                <div class="info-imagen">
                <span class="texto-izq">Nombre del producto o servicio</span>
                <div class="linea-vertical"></div>
                <span class="texto-der">XX.XXX <span style="color: gray;">PUNTOS</span></span>
                </div>
            </div>
            </a>
        </div>

        <div class="contenedor-cuerpo">
            <a href="/product">
            <img src="/img/placeholder.jpg" alt="#" class="imagen-cuerpo">
            <div class="info-wrapper">
                <div class="info-imagen">
                <span class="texto-izq">Nombre del producto o servicio</span>
                <div class="linea-vertical"></div>
                <span class="texto-der">XX.XXX <span style="color: gray;">PUNTOS</span></span>
                </div>
            </div>
            </a>
        </div>
        </div>
        <div class="recuadro-2">
            <ul class="desordenada">
                
                    <li class="solitaria-imagen">
                        <a href="#">
                            <img src="/img/boton 1 (electronica).png" alt="electronica" class="imagen">
                            <p class="texto"> Electrónica </p>
                        </a>
                    </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 2 (alimentos).png" alt="alimentos" class="imagen">
                        <p class="texto"> Alimentos </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 3 (bebidas).png" alt="bebidas" class="imagen">
                        <p class="texto"> Bebidas </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 4 (indumentaria).png" alt="indumentaria" class="imagen">
                        <p class="texto"> Indumentaria </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 5 (juegos).png" alt="indumentaria" class="imagen">
                        <p class="texto"> Juegos </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 6 (automotor).png" alt="automotor" class="imagen">
                        <p class="texto"> Automotor </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 7 (hogar).png" alt="hogar" class="imagen">
                        <p class="texto"> Hogar </p>
                    </a>
                </li>
                <hr class="ocultar">
                <li class="lista-imagen">
                    <a href="#">
                        <img src="/img/boton 8 (otros).png" alt="otros" class="imagen">
                        <p class="texto"> Otros </p>
                    </a>
                </li>
            </ul>
        </div>
    </main>

    <footer>
        <div class="pie-de-pagina">
            <div class="grupo-1">
                <a href="https://twitter.com" target="_blank" rel="noopener">
                    <img src="/img/Logo twitter.png" alt="twitter" class="imagen-pie">
                </a>
                <a href="https://facebook.com" target="_blank" rel="noopener">
                    <img src="/img/Logo facebook.png" alt="facebook" class="imagen-pie">
                </a>
                <a href="https://youtube.com" target="_blank" rel="noopener">
                    <img src="/img/Logo youtube.png" alt="youtube" class="imagen-pie">
                </a>
                <a href="https://instagram.com" target="_blank" rel="noopener">
                    <img src="/img/Logo instagram.png" alt="instagram" class="imagen-pie">
                </a>
            </div>

            <div class="grupo-2">
                <p>@ MiEcommerce. Todos los derechos reservados.</p>
            </div>

            <div class="grupo-3">
                <a href="https://www.apple.com/app-store/" target="_blank" rel="noopener" class="boton-app">
                    <img src="/img/Logo app store.png" alt="App Store" class="imagen-pie">
                    <span class="descripcion-pie">App Store</span>
                </a>
                <a href="https://play.google.com/store" target="_blank" rel="noopener" class="boton-app">
                    <img src="/img/logo google play.png" alt="Google Play" class="imagen-pie">
                    <span class="descripcion-pie">Google Play</span>
                </a>
            </div>
        </div>
    </footer>
</body>
</html>



