/*--------CHECKOUT PAGE--------*/

.checkout-container {
    display: flex;
    max-width: 75rem;
    margin: 0 auto;
    gap: 10rem;
    padding: 1.25rem;
}

/* Resumen */
.checkout-summary {
    flex: 1;
    background: var(--bg-soft);
    padding: 1.25rem;
    border-radius: 2rem;
    height: fit-content;
    box-shadow: var(--shadow-soft);
}

/* Opciones de entrega */
.checkout-option {
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-soft);
    border-radius: 2rem;
    box-shadow: var(--shadow-soft);
}

/* Lado izquierdo */
.checkout-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Lado derecho */
.checkout-right {
    display: flex;
    align-items: center;
}

/* Texto */
.checkout-text {
    font-size: 1.2rem;
}

/* Gratis */
.checkout-free {
    color: var(--success-color);
    font-weight: bold;
}

/* Filas resumen */
.checkout-row,
.checkout-total {
    display: flex;
    justify-content: space-between;
    margin: 0.625rem 0;
}

/* Botón */
.checkout-button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border-radius: 2rem;
    border: none;
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkout-button:hover {
    background-color: var(--primary-color);
}


/*--------RESPONSIVE--------*/

@media (max-width: 1000px) {

    .checkout-container {
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
        align-items: center;
    }

    .checkout-options,
    .checkout-summary {
        width: 90%;
        max-width: 650px;
    }

    .checkout-option {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.8rem;
        padding: 1rem;
    }

    .checkout-left,
    .checkout-right {
        width: 90%;
    }

    .checkout-left {
        align-items: flex-start;
    }

    .checkout-text {
        font-size: 1rem;
    }

    .checkout-button {
        width: 90%;
        max-width: 400px;
    }

    .checkout-summary {
        margin: 0 auto;
    }
}