.error-container {
    width: 90%;
    max-width: 55rem;
    padding: 1rem;
    box-shadow: var(--shadow-soft);
    border-radius: 1rem;
    display: flex;
    margin: 0 auto;
    min-height: 300px;
    margin-bottom: 5rem;
    background: var(--bg-main);
}

/* contenido centrado */
.error-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* caja */
.error-box {
    background-color: var(--bg-soft);
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    padding: clamp(1.2rem, 3vw, 2.5rem);
    text-align: center;
    width: 100%;
}

/* número */
.error-code {
    font-size: clamp(3rem, 10vw, 6rem);
    margin: 0;
    font-weight: 800;
    color: var(--text-strong);
}

.error-box p {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    color: var(--text-muted);
    margin-top: 1rem;
}

/* Botón */
.auth-button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;

    display: block;
    margin: 1rem auto 0 auto;
    text-align: center;
    width: fit-content;
}

.auth-button:hover {
    background-color: var(--primary-color);
}