:root {
/*nota: no uso todas las variables*/

    --primary-color: rgb(37, 107, 212);
    --primary-accent: rgb(0, 89, 255);
    --hover-primary: rgb(41, 110, 220);

    /* BACKGROUNDS */
    --bg-main: rgb(253, 253, 253);
    --bg-light: rgb(250, 250, 250);
    --bg-soft: rgb(235, 235, 235);
    --bg-card: rgb(255, 255, 255);
    --bg-header: rgb(235, 235, 235);
    /* SURFACES */
    --bg-elevated: rgb(250, 250, 250);
    --bg-hover: rgb(230, 230, 230);

    /* TEXT */
    --text-main: rgb(33, 33, 33);
    --text-muted: rgb(102, 102, 102);
    --text-soft: rgb(140, 140, 140);
    --text-inverse: rgb(255, 255, 255);

    /* BORDERS */
    --border-color: rgb(220, 220, 220);
    --border-soft: rgb(235, 235, 235);

    /* BUTTONS */
    --bg-dark: rgb(39, 39, 39);
    --bg-medium: rgb(73, 73, 73);

    /* STATES --no uso todos por ahora*/
    --error-color: rgb(229, 57, 53);
    --success-color: rgb(46, 125, 50);
    --warning-color: rgb(251, 140, 0);
    --badge-color: rgb(229, 57, 53);

    /* SHADOWS */
    --shadow-strong: rgba(0, 0, 0, 0.18);
    --shadow-medium: rgba(0, 0, 0, 0.12);
    --shadow-soft: rgba(0, 0, 0, 0.06);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: 'Montserrat', sans-serif;
}

main {
    flex: 1;
}

a,
a:visited,
a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}