/*--------MENU SIDEBAR--------*/

.menu {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 250px;
}

.menu-divider {
    border: none;
    height: 3px;
    background-color: var(--primary-color);
    width: 100%;
    margin: 8px 0;
}

.menu-profile {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 10px;
}

.menu-profile-img {
    background-color: var(--primary-color);
    width: 65px;
    height: auto;
    border-radius: 50%;
}

.menu-profile-text {
    font-size: 1.7rem;
    margin: 0;
    font-weight: 600;
    color: var(--text-strong);
}

.menu a {
    text-decoration: none;
    color: var(--text-strong);
    padding: 6px 10px;
    display: block;
    border-radius: 4px;
}

.menu a:hover {
    background-color: var(--primary-color);
    color: var(--text-inverse);
}