/*-------- PRODUCT DETAIL PAGE --------*/

.back-to-list {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin-left: 21.6%;
    margin-bottom: 1.1rem;
}

.breadcrumb-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
    color: rgb(75, 75, 75);
}

.breadcrumb-wrapper img {
    width: 20px;
    height: auto;
}

.product-detail-card {
    width: 55rem;
    padding: 0.4rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
    border-radius: 1rem;
    display: flex;
    margin: 0 auto;
    min-height: 300px;
    margin-bottom: 5rem;
}

.product-detail-flex {
    display: flex;
    height: 100%;
    width: 100%;
}

.product-detail-img {
    width: 500px;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    border-radius: 1rem;
}

.product-detail-info {
    background-color: rgb(246, 246, 246);
    border: 0.1rem solid rgb(199, 199, 199);
    border-radius: 1rem;
    padding: 0.2rem 1rem 1rem 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
}


/* Botón de acción */
.btn-cart {
    cursor: pointer;
}

.btn-cart:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.section-title {
    text-align: center;
    margin-bottom: 2rem;
}

/*---RESPONSIVE---*/

@media (max-width: 1000px) {

    .back-to-list {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .breadcrumb-wrapper {
        font-size: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .product-detail-card {
        width: 70%;
        flex-direction: column;
        padding: 1rem 1rem 0 1rem;
    }

    .product-detail-flex {
        flex-direction: column;
        align-items: center;
    }


    .product-detail-img {
        width: 75%;
        max-width: 500px;
        max-height: 350px;
        margin-bottom: 1rem;
    }

    .product-detail-info {
        margin-left: 0;
        width: 100%;
    }


    .product-detail-info h2 {
        text-align: center;
        font-size: 1.6rem;
    }


    .product-detail-info form {
        display: flex;
        justify-content: center;
    }


    .product-detail-info p {
        text-align: center;
    }


    .product-grid {
        justify-content: center;
    }
}

@media (max-width: 500px) {


    .product-detail-card {
        width: 90%;
    }


    .product-detail-img {
        width: 100%;
        max-width: 100%;
        max-height: 280px;
        object-fit: contain;
    }


    .product-detail-info h2 {
        font-size: 1.3rem;
    }


    .product-detail-info p {
        font-size: 1rem;
        line-height: 1.5;
    }


    .product-detail-info form {
        width: 100%;
    }

    .btn-cart,
    .auth-button {
        width: 100%;
    }
}
