    <div class="error-container">
        <div class="error-content">

            <div class="error-box">

                <h1 class="error-code">404</h1>

                <h2>Página no encontrada</h2>

                <p>La URL que ingresaste no existe o fue movida.</p>

                <a href="/">
                    <div class="auth-button">
                        Volver al inicio
                    </div>
                </a>

            </div>

        </div>
    </div>

