<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title: 'Cart' }) %>

<body>

    <%- include('../partials/header', { perfilLink: '/login' }) %>

<main>

    <div class="error-container">
        <div class="error-content">

            <div class="error-box">

                <h1 class="error-code">404</h1>

                <h2>Página no encontrada</h2>

                <p>La URL que ingresaste no existe o fue movida.</p>

                <a href="/">
                    <div class="btn">
                        Volver al inicio
                    </div>
                </a>

            </div>

        </div>
    </div>

</main>

    <%- include('../partials/footer') %>

</body>